
@{
    ViewData["Title"] = "About";
}

<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <h2 class="text-center mt-3"><span class="text-muted">About</span></h2>
            <div class="modal-body">
                <h4><span class="text-muted text-center">Spades Game</span></h4>
                <p>IBT College Project blah blah blah</p>
                <ul>
                    <li><strong>GitHub:</strong> GitHub Repository</li>

                    <li><strong>Version:</strong> 0.0.2</li>
                </ul>

                <h4><span class="text-muted text-center">The Team</span></h4>
                <div class="card proj-yellow-card mt-2">
                    <div class="card-body">
                        <div class="row align-items-center m-b-30">
                            <div class="col-auto">
                                <i class="fas fa-user text-c-yellow"></i>
                            </div>
                            <div class="col p-l-0">
                                <h6 class="m-b-0 text-c-yellow">Fabio Vega</h6>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <i class="fas fa-code text-c-yellow f-18"></i>
                            </div>
                            <div class="col p-l-0">
                                <h6 class="m-b-0">Backend Developer</h6>
                            </div>
                        </div>
                        <h6 class="pt-badge bg-c-yellow"><i class="fab fa-linkedin-in f-18"></i></h6>
                    </div>
                </div>

                <div class="card proj-blue-card mt-2">
                    <div class="card-body">
                        <div class="row align-items-center m-b-30">
                            <div class="col-auto">
                                <i class="fas fa-user text-c-blue"></i>
                            </div>
                            <div class="col p-l-0">
                                <h6 class="m-b-0 text-c-blue">Roman Islam Ratul</h6>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <i class="fas fa-code text-c-blue f-18"></i>
                            </div>
                            <div class="col p-l-0">
                                <h6 class="m-b-0">QA Analyst</h6>
                            </div>
                        </div>
                        <h6 class="pt-badge bg-c-blue"><i class="fab fa-linkedin-in f-18"></i></h6>
                    </div>
                </div>

                <div class="card proj-red-card mt-2">
                    <div class="card-body">
                        <div class="row align-items-center m-b-30">
                            <div class="col-auto">
                                <i class="fas fa-user text-c-red"></i>
                            </div>
                            <div class="col p-l-0">
                                <h6 class="m-b-0 text-c-red">Mauricio Lattke</h6>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <i class="fas fa-code text-c-red f-18"></i>
                            </div>
                            <div class="col p-l-0">
                                <h6 class="m-b-0">Frontend Developer</h6>
                            </div>
                        </div>
                        <h6 class="pt-badge bg-c-red"><i class="fab fa-linkedin-in f-18"></i></h6>
                    </div>
                </div>

                <!-- <button type="button" class="btn btn-primary md-close mt-3" data-dismiss="modal">Close</button> -->
            </div>            
        </div>
    </div>
</div>