@{
    ViewData["Title"] = "Spades Game";
}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-3">
            Help
        </div>
        <div class="col-9">
            Main board... image...new game.
            <div class="mainboard">
                <button class="btn btn-info new-game-btn">New Game</button>
            </div>
        </div>
    </div>
</div>