@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;1,400&display=swap');
:root {
    /* Main font-family */
    --Mont-font: 'Montserrat', sans-serif;
    /* Game Colors */
    --text-gray: #3F4954;
    --text-light: #686666DA;
    --bg-color: #0F0F0F;
    --white: #FFFFFF;
    --gray-2: #e9e1e1da;
    --midnight: #104F55;
    --green: #7cd175;
}



body {
    margin: 0;
    font-family: var(--Mont-font);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;    
    padding-top: 65px;
    background-color: var(--white);
    
}

/* .container {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
}*/

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}



/* Main page */

#mainboard {
    width: 350px;
    height: 350px;
    min-width: 100%;
    min-height: 100%;
    border-radius: 10px;
    position: relative;
    margin: auto;
    background-color: var(--green);
    -webkit-box-shadow: 0 2px 4px 0 rgba(43, 43, 43, 0.1);
    box-shadow: 0 2px 4px 0 rgba(43, 43, 43, 0.1);
}

#mainboard img {
    max-width: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

/* Scoreboard */
.card-blue, .card-green, .card-red, .card-yellow {
    position: relative;
    overflow: hidden;
    margin-bottom: 1rem;
}

.card-blue:after, .card-green:after, .card-red:after, .card-yellow:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.card-body {
    padding: 10px !important;    
}

.card-blue .card-block,
.card-blue .card-block-big,
.card-blue .card-block-small,
.card-blue .card-body,
.card-blue .card-footer,
.card-blue .card-header, .card-green .card-block,
.card-green .card-block-big,
.card-green .card-block-small,
.card-green .card-body,
.card-green .card-footer,
.card-green .card-header, .card-red .card-block,
.card-red .card-block-big,
.card-red .card-block-small,
.card-red .card-body,
.card-red .card-footer,
.card-red .card-header, .card-yellow .card-block,
.card-yellow .card-block-big,
.card-yellow .card-block-small,
.card-yellow .card-body,
.card-yellow .card-footer,
.card-yellow .card-header {
    position: relative;
    z-index: 5;
}

.card-red::after {
    background: #FF5370;
}

.card-red .ct-line {
    stroke: #fff;
}

.card-red .ct-grid {
    stroke: #ffa0b0;
}

.card-blue::after {
    background: #4099ff;
}

.card-blue .ct-line {
    stroke: #fff;
}

.card-blue .ct-grid {
    stroke: #8dc2ff;
}

.card-green::after {
    background: #2ed8b6;
}

.card-green .ct-line {
    stroke: #fff;
}

.card-green .ct-grid {
    stroke: #6ee4cd;
}

.card-yellow::after {
    background: #FFB64D;
}

.card-yellow .ct-line {
    stroke: #fff;
}

.card-yellow .ct-grid {
    stroke: #ffd59a;
}

.bg-c-blue {
    background: #4099ff;
}

.text-c-blue {
    color: #4099ff;
}

.bg-c-red {
    background: #ff5370;
}

.text-c-red {
    color: #ff5370;
}

.bg-c-green {
    background: #2ed8b6;
}

.text-c-green {
    color: #2ed8b6;
}

.bg-c-yellow {
    background: #ffb64d;
}

.text-c-yellow {
    color: #ffb64d;
}

.prod-p-card i {
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    padding: 11px 0;
    font-size: 18px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 0 8px 15px rgba(62, 57, 107, 0.2);
    box-shadow: 0 8px 15px rgba(62, 57, 107, 0.2);
}

.prod-p-card:hover i {
    -webkit-box-shadow: 0 4px 4px rgba(62, 57, 107, 0.2);
    box-shadow: 0 4px 4px rgba(62, 57, 107, 0.2);
    -webkit-transform: scale(0.9) translatey(5px);
    transform: scale(0.9) translatey(5px);
}


.user-settings {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: var(--gray-2);
    font-size: 1.5rem;    
}

.new-game-btn {
    position: absolute;
    bottom: 10px;
    left: 40%;    
}


/* MainLog */

.latest-update-card .card-block {
    padding-top: 0;
}

    .latest-update-card .card-block .latest-update-box {
        position: relative;
    }

        .latest-update-card .card-block .latest-update-box:after {
            content: "";
            position: absolute;
            background: #ebebeb;
            height: 100%;
            width: 3px;
            top: 0;
            left: 19px;
            z-index: 1;
        }

        .latest-update-card .card-block .latest-update-box .update-meta {
            z-index: 2;
        }

            .latest-update-card .card-block .latest-update-box .update-meta .update-icon {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                text-align: center;
                padding: 7px 8px;
                font-size: 16px;
                color: #fff;
            }

                .latest-update-card .card-block .latest-update-box .update-meta .update-icon.bg-c-red {
                    -webkit-box-shadow: 0 0 0 4px rgba(255, 83, 112, 0.5);
                    box-shadow: 0 0 0 4px rgba(255, 83, 112, 0.5);
                }

                .latest-update-card .card-block .latest-update-box .update-meta .update-icon.bg-c-blue {
                    -webkit-box-shadow: 0 0 0 4px rgba(64, 153, 255, 0.5);
                    box-shadow: 0 0 0 4px rgba(64, 153, 255, 0.5);
                }

                .latest-update-card .card-block .latest-update-box .update-meta .update-icon.bg-c-green {
                    -webkit-box-shadow: 0 0 0 4px rgba(46, 216, 182, 0.5);
                    box-shadow: 0 0 0 4px rgba(46, 216, 182, 0.5);
                }

                .latest-update-card .card-block .latest-update-box .update-meta .update-icon.bg-c-yellow {
                    -webkit-box-shadow: 0 0 0 4px rgba(255, 182, 77, 0.5);
                    box-shadow: 0 0 0 4px rgba(255, 182, 77, 0.5);
                }

                .latest-update-card .card-block .latest-update-box .update-meta .update-icon.ring {
                    border-width: 3px;
                    width: 15px;
                    height: 15px;
                    padding: 0;
                    display: block;
                    margin-left: 13px;
                    background: #fff;
                }

            .latest-update-card .card-block .latest-update-box .update-meta i.update-icon {
                margin-left: 4px;
                margin-right: 19px;
            }

            .latest-update-card .card-block .latest-update-box .update-meta img.update-icon {
                padding: 0;
                width: 40px;
                height: 40px;
            }

@media only screen and (max-width: 575px) {
    .latest-update-card .card-block .latest-update-box:after {
        display: none;
    }

    .latest-update-card .card-block .latest-update-box .update-meta {
        z-index: 2;
        min-width: 100%;
        text-align: left !important;
        margin-bottom: 15px;
        border-top: 1px solid #f1f1f1;
        padding-top: 15px;
    }
}

.card .card-block {
    padding: 1.25rem;
}

    .card .card-block.card-p-0 {
        padding: 1.25rem 0 0;
    }

    .card .card-block.p-b-0 {
        padding-bottom: 0;
    }

    .card .card-block table tr {
        padding-bottom: 20px;
    }

    .card .card-block .sub-title {
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1px;
    }

    .card .card-block code {
        background-color: #eee;
        margin: 5px;
        display: inline-block;
    }

    .card .card-block .dropdown-menu {
        top: 38px;
    }

    .card .card-block p {
        line-height: 1.4;
    }

    .card .card-block a.dropdown-item {
        margin-bottom: 0;
        font-size: 14px;
        -webkit-transition: 0.25s;
        transition: 0.25s;
    }

        .card .card-block a.dropdown-item:active,
        .card .card-block a.dropdown-item .active {
            background-color: #4099ff;
        }

    .card .card-block.remove-label i {
        margin: 0;
        padding: 0;
    }

    .card .card-block.button-list span.badge {
        margin-left: 5px;
    }

    .card .card-block .dropdown-menu {
        background-color: #fff;
        padding: 0;
    }

        .card .card-block .dropdown-menu .dropdown-divider {
            background-color: #ddd;
            margin: 3px 0;
        }

        .card .card-block .dropdown-menu > a {
            padding: 10px 16px;
            line-height: 1.429;
        }

        .card .card-block .dropdown-menu > li > a:focus,
        .card .card-block .dropdown-menu > li > a:hover {
            background-color: rgba(202, 206, 209, 0.5);
        }

        .card .card-block .dropdown-menu > li:first-child > a:first-child {
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
        }

    .card .card-block .badge-box {
        padding: 10px;
        margin: 12px 0;
    }

.card .card-block-big {
    padding: 1.5625rem;
}

.card .card-block-small {
    padding: 0.9375rem;
}


.b-blue {
    border: 1px solid #4099ff;
}

.b-green {
    border: 1px solid #2ed8b6;
}

.b-red {
    border: 1px solid #ff5370;
}

.b-yellow {
    border: 1px solid #ffb64d;
}